<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Création d'une distortion</title>
    <link type="text/css" rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>
    <header>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">
          <h1 class="d-inline-block align-top text-center text-uppercase">Miscreate</h1>
        </a>
        <div>
          <button class="btn btn-light" type="submit">Se connecter</button>
          <button class="btn btn-light" type="submit">S'enregistrer</button>
        </div>
      </div>
    </nav>
  </header>
    <div class="container mt-3">
        <h1 class="text-center text-uppercase">Création d'une distortion</h1>
        <form action="/distortion/create" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Entrez un titre" name="title">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Décrivez la déformation" name="description">
            </div>
            <div class="form-group">
                <input class="form-control" type="number" placeholder="Date de découverte (année)" name="release_date">
            </div>
            <div class="form-group">
                <input class="form-control" type="url" placeholder="Image" name="image">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Auteur de la découverte" name="finder">
            </div>
            <button class="btn btn-success" type="submit">Valider</button>
        </form>
    </div>
</body>

</html>