<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Création d'un utilisateur</title>
    <link type="text/css" rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <h1 class="d-inline-block align-top text-center text-uppercase">Miscreate</h1>
                </a>
                <div>
                    <button class="btn btn-light" type="submit">Se connecter</button>
                    <button class="btn btn-light" type="submit">S'enregistrer</button>
                </div>
            </div>
        </nav>
    </header>
    <div class="container mt-3">
        <h1 class="text-center text-uppercase">Création d'un utilisateur</h1>
        <form action="/user/create" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Entrez un nom" name="name">
            </div>
            <div class="form-group">
                <input class="form-control" type="email" placeholder="Entrez une adresse email" name="email">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" placeholder="Définissez votre mot de passe" name="password">
            </div>
            <button class="btn btn-success" type="submit">Valider</button>
        </form>
    </div>
</body>

</html>