<header>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                <h1 class="d-inline-block align-top text-center text-uppercase">{{ title }}</h1>
            </a>
            <div>
                <button class="btn btn-light" type="submit">Se connecter</button>
                <button class="btn btn-light" type="submit">S'enregistrer</button>
            </div>
        </div>
    </nav>
</header>